/*
      Buttons
-------------------------------
*/

@button {
  border-width: 0;
  color: var(--color-brand);
  background-color: var(--color-transparent);
  color-hover: var(--color-alt);
  background-color-hover: var(--color-brand);
  color-active: var(--color-alt);
  background-color-active: var(--color-brand);
  class-active: active;
  class-disabled: disabled;
}

button,
.btn {
  button: default;
}

.btn-border {
  button-color: var(--color-text) var(--color-inverse) var(--color-inverse);
  button-background: var(--color-bg) var(--color-bg) var(--color-bg);
  button-border: var(--base-unit-line) var(--color-alt) var(--color-neutral) var(--color-neutral);
  button-classes: active disabled;
}

.btn-alt {
  button-color: var(--color-bg) var(--color-bg) var(--color-bg);
  button-background: var(--color-neutral) var(--color-brand) var(--color-brand);
  button-classes: active disabled;
}

.btn-flash {
  button-color: var(--color-bg) var(--color-bg) var(--color-bg);
  button-background: var(--color-brand) var(--color-inverse) var(--color-inverse);
  button-border: 0;
  button-classes: active disabled;
}