/*
      Buttons
-------------------------------
*/

@button {
  border-width: 0;
  color: var(--color-brand);
  background-color: var(--color-transparent);
  color-hover: var(--color-alt);
  background-color-hover: var(--color-brand);
  color-active: var(--color-alt);
  background-color-active: var(--color-brand);
  class-active: active;
  class-disabled: disabled;
}

button,
.btn {
  button: default;
}

.btn-border {
  button-color: var(--color-text) var(--color-inverse) var(--color-inverse);
  button-background: var(--color-bg) var(--color-bg) var(--color-bg);
  button-border: var(--base-unit-line) var(--color-alt) var(--color-inverse) var(--color-inverse);
  button-classes: active disabled;
}

.btn-alt {
  button-color: var(--color-bg) var(--color-bg) var(--color-bg);
  button-background: var(--color-neutral) var(--color-brand) var(--color-brand);
  button-classes: active disabled;
}

.btn-flash {
  button-color: var(--color-bg) var(--color-bg) var(--color-bg);
  button-background: var(--color-brand) var(--color-inverse) var(--color-inverse);
  button-border: 0;
  button-classes: active disabled;
}

.btn-xxs {
  padding: var(--base-unit-xxs) calc(var(--base-unit-xxs) * 2);
}

.btn-xs {
  padding: var(--base-unit-xs) calc(var(--base-unit-xs) * 2);
}

.btn-s {
  padding: var(--base-unit-s) calc(var(--base-unit-s) * 2);
}

.btn-m {
  padding: var(--base-unit-m) calc(var(--base-unit-m) * 2);
}

.btn-l {
  padding: var(--base-unit-l) calc(var(--base-unit-l) * 2);
}

.btn-xl {
  padding: var(--base-unit-xl) calc(var(--base-unit-xl) * 2);
}

.btn-full {
  width: 100%;
  text-align: center;
}

.btn-pill {
  border-radius: var(--base-unit-xl);
}

.btn-rnd {
  border-radius: var(--base-unit-xs);
}
