/*
      Forms
-------------------------------
*/

input,
textarea,
select,
optgroup {
  font: inherit;
  typescale: 0 1;
}

fieldset {
  border: 0 none transparent;
}

*:focus,
textarea:focus,
input:focus {
  outline: none;
  outline: 0;
}

label {
  cursor: pointer;
  display: block;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='tel'],
select,
textarea {
  width: 100%;
  padding: var(--unit-s);
  border: 0 none;
  background-color: var(--color-alt);
  height: auto;
}

select {
  background-image: svg-load(
    './icons/24-chevron-b.svg',
    fill=none,
    stroke=var(--color-inverse),
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
  background-position: right var(--unit-s) center;
  background-repeat: no-repeat;

  /* for FF: http://stackoverflow.com/a/18317228/2112538 */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: ellipsis;
}

textarea {
  /* http://stackoverflow.com/a/5196591/2112538 */
  vertical-align: top;
  resize: vertical;
}

textarea:focus,
input:focus,
select:focus {
  border-right: var(--unit-s) solid var(--color-brand);
}

input[type='text'].input-alt,
input[type='email'].input-alt,
input[type='search'].input-alt,
input[type='password'].input-alt,
input[type='tel'].input-alt,
select.input-alt,
textarea.input-alt {
  background-color: var(--color-bg);
}

input.success {
  border-right: var(--unit-s) solid var(--color-success);
}

input.error {
  border-right: var(--unit-s) solid var(--color-error);
}
