/*
      Forms
-------------------------------
*/

fieldset {
  border: 0 none transparent;
}

*:focus,
textarea:focus,
input:focus {
  outline: none;
  outline: 0;
}

label {
  cursor: pointer;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: var(--base-unit-s);
  border: 0 none;
  background-color: var(--color-alt);
  height: auto;
}

select {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
}

textarea {
  /* http://stackoverflow.com/a/5196591/2112538 */
  vertical-align: top;
  resize: vertical;
}

textarea:focus,
input:focus,
select:focus {
  border-right: var(--base-unit-s) solid var(--color-brand);
}

input[type="text"].input-alt,
input[type="email"].input-alt,
input[type="search"].input-alt,
input[type="password"].input-alt,
input[type="tel"].input-alt,
select.input-alt,
textarea.input-alt {
  background-color: var(--color-bg);
}

input.success {
  border-right: var(--base-unit-s) solid var(--color-success);
}

input.error {
  border-right: var(--base-unit-s) solid var(--color-error);
}
