/*
      Margins
-------------------------------

*/

.margin-right-s {
  margin-right: var(--base-unit-s);
}

.margin-left-s {
  margin-left: var(--base-unit-s);
}

.margin-top {
  margin-top: var(--base-unit);
}

.margin-top-xxs {
  margin-top: var(--base-unit-xxs);
}

.margin-top-xs {
  margin-top: var(--base-unit-xs);
}
.margin-top-s {
  margin-top: var(--base-unit-s);
}

.margin-top-m {
  margin-top: var(--base-unit-m);
}

.margin-top-l {
  margin-top: var(--base-unit-l);
}

.margin-top-xl {
  margin-top: var(--base-unit-xl);
}

.margin-bottom {
  margin-bottom: var(--base-unit);
}

.margin-bottom-xxs {
  margin-bottom: var(--base-unit-xxs);
}

.margin-bottom-xs {
  margin-bottom: var(--base-unit-xs);
}

.margin-bottom-s {
  margin-bottom: var(--base-unit-s);
}

.margin-bottom-m {
  margin-bottom: var(--base-unit-m);
}

.margin-bottom-l {
  margin-bottom: var(--base-unit-l);
}

.margin-bottom-xl {
  margin-bottom: var(--base-unit-xl);
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-top-0 {
  margin-top: 0;
}
