/*
    Padding
-------------------------------
*/

.p {
  padding: var(--base-unit);
}

.p-xxs {
  padding: var(--base-unit-xxs) calc(var(--base-unit-xxs) * 2);
}

.p-xs {
  padding: var(--base-unit-xs) calc(var(--base-unit-xs) * 2);
}

.p-s {
  padding: var(--base-unit-s) calc(var(--base-unit-s) * 2);
}

.p-m {
  padding: var(--base-unit-m);
}

.p-l {
  padding: var(--base-unit-l);
}

.p-xl {
  padding: var(--base-unit-xl);
}

.px-s {
  padding-left: var(--base-unit-s);
  padding-right: var(--base-unit-s);
}

.py-s {
  padding-top: var(--base-unit-s);
  padding-bottom: var(--base-unit-s);
}
