/*
    Table
-------------------------------
*/

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

th {
  text-align: left;
  font-weight: 700;
}

tr {
  border-bottom: var(--base-unit-line) dotted var(--color-neutral);
}

td,
th {
  vertical-align: top;
  word-wrap: break-word;
  padding-top: var(--base-unit-s);
  padding-bottom: calc(var(--base-unit-s) - var(--base-unit-line));
}

.table-xs td,
.table-xs th {
  padding-top: var(--base-unit-xs);
  padding-bottom: calc(var(--base-unit-xs) - var(--base-unit-line));
}

.table-xxs td,
.table-xxs th {
  padding-top: var(--base-unit-xxs);
  padding-bottom: calc(var(--base-unit-xxs) - var(--base-unit-line));
}
