/*
    Typography
-------------------------------
*/

@typescale {
  scale: 1.25;
  font-size: 1rem;
  line-height: 1.5rem;
}

.xxxl {
  typescale: 4 2;
}

h1,
.xxl {
  typescale: 3 2;
}

h2,
.xl {
  typescale: 2 1.5;
}

h3,
.l {
  typescale: 1 1.5;
}

h4,
.m {
  typescale: 0 1;
}

h5,
.s {
  typescale: -1 1;
}

h6,
.xs,
small {
  typescale: -2 0.5;
}

.lead {
  typescale: 2 1.5;
}

blockquote {
  typescale: 2 1.5;
  font-style: italic;
  padding-left: var(--base-unit);
  padding-right: var(--base-unit);
}

hr {
  border: 0;
  height: 0;
  border-top: var(--base-unit-line) var(--hr-style) var(--hr-color);
  margin-top: -var(--base-unit-line);
  clear: both;
}
