/*
    Typography
-------------------------------
*/

@typescale {
  scale: 1.25;
  font-size: var(--base-font-size);
  line-height: var(--base-unit);
}

h1,
h2,
h3,
h4,
h5,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre {
  margin-bottom: var(--base-unit);
}

label,
h6 {
  margin-bottom: var(--base-unit-s);
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Lato', sans-serif;
  typescale: 0 1;
}

h1,
.xxl {
  typescale: 3 1.5;
}

h2,
.xl {
  typescale: 2 1.5;
}

h3,
.l {
  typescale: 1 1;
}

h4,
.m {
  typescale: 0 1;
}

h5,
.s {
  typescale: -1 1;
}

h6,
.xs,
small {
  typescale: -2 0.5;
}

h1,
.xxl,
h2,
.xl,
h3,
.l {
  font-weight: 300;
  font-style: normal;
}

.xs,
h6 {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 700;
}

h6 {
  color: var(--color-neutral);
}

blockquote {
  typescale: 1 1.5;
  font-style: italic;
  padding-left: var(--base-unit-s);
  padding-right: var(--base-unit-s);
  color: var(--color-brand);
}

hr {
  border: 0;
  height: 0;
  border-top: var(--base-unit-line) var(--hr-style) var(--hr-color);
  margin-bottom: calc(var(--base-unit) - var(--base-unit-line));
  clear: both;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:visited {
  color: var(--color-text);
}

a:hover,
a:active,
a:focus {
  color: var(--color-brand);
}

b,
strong,
.strong {
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}

.strikethrough {
  color: var(--color-neutral);
  text-decoration: line-through;
}
