/*
    UI elements
-------------------------------
*/

.pill {
  border-radius: var(--base-unit-xl);
}

.rnd {
  border-radius: var(--base-unit-xs);
}

.tooltip {
  position: relative;
}

.tooltip span {
  position: absolute;
  color: var(--color-alt);
  background: var(--color-neutral);
  text-align: center;
  border-radius: var(--base-unit-xs);
  top: -2rem;
  right: 0;
  padding: var(--base-unit-xs);
  z-index: 999;
}

.tooltip span::after {
  content: '';
  position: absolute;
  top: 100%;
  right: var(--base-unit);
  border-top: var(--base-unit-xs) solid var(--color-neutral);
  border-right: var(--base-unit-xs) solid transparent;
  border-left: var(--base-unit-xs) solid transparent;
}

.alert {
  width: 100%;
  padding: var(--base-unit-s);
  font-style: italic;
  color: var(--color-bg);
}

.label {
  text-align: center;
  color: var(--color-bg);
  margin-bottom: 0;
}
